.contador {

    .contador__cantidad {
        font-size: 50px;
        margin: 10px 0;
        font-weight: 900;
    }
    h2 {
        font-size: 20px;
        color: red;
        text-transform: uppercase;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

.newClass {
    display: none;
}
.otherClass {
    display: block;
}