$font-1: "Open Sans", sans-serif;
$font-2: "Manrope", sans-serif;
$font-3: "Lato", sans-serif;

$texto-oscuro: #303133;


/// modo dark
$color-darkMode: rgba(255, 255, 255, 0.836);
$bg-dark:rgba(255, 246, 246, 0.055);
$bg-dark-2:rgba(255, 246, 246, 0.144);